* {
    box-sizing: border-box;
}

body {
    background-color: #f3e13e;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #560591;
}


h1,
h2,
h3,
h4,
h5 {
    line-height: 1.4;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    color: #f4038c;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    font-weight: 900;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 1px;
    color: #f4038c;
    margin-bottom: 0;
}

h4 {
    font-size: 1.3em;
    font-weight: 500;
}

h5 {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0.5em 0;
}

h6 {
    font-size: 1.05em;
    font-weight: 400;
}

.description {
    font-weight: 600;
}

/* Layout styling */

img {
    width: 100%;
}

h4 {
    padding-top: 1.2em;
}

.container {
    padding: 0 15px;
}

.margin-gif {
    margin-top: 48px;
}

/**#interview{
    margin-top:30px;
    margin-bottom:10px;
}**/

.margin-top {
    margin-top: 35px;
}

.margin-both {
    margin-top: 35px;
    margin-bottom: 35px
}

.padding-both {
    margin-top: 35px;
    padding-bottom: 35px;
}

.padding-bottom {
    padding-bottom: 35px;
}

.padding-title {
    padding-top: 20px
}

.photo-container {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    opacity: 0.9
}

.row {
    margin: 24px 0;
}

#projects .row {
    padding-top: 14px;
}

#projects h3 {
    margin: 0 auto;
}

.container-social {
    margin-top: 40px;
}

#resume {
    margin-bottom: 32px
}

/* NavBar and Footer */

header {
    background-color: #f4038c;
    position: relative;
}

#svg-logo {
    max-width: 170px;
    margin-top: 25px;
    margin-bottom: 15px;
}

nav {
    display: inline-block;
}

nav>ul {
    list-style-type: none;
    padding: 0;
}

nav>ul>li>a {
    padding: 0 20px;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 600;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 17px;
    font-size: 20px;
    padding-right: 0;
}

.navtoggle.responsive li {
    display: block;
}

.jump_links {
    position: sticky;
    top: 0;
    background: #fce9e5;
    padding: 10px 30px;
}

footer,
.top {
    background-color: #f3e13e;
    display: inline-block;
    width: 100%;
}

.center-all {
    text-align: center;
}

.center-only-small {

    text-align: center;
}

.center-social {
    text-align: center;
    padding: 10px 0;
}

.social {
    display: inline-block;

}

hr {
    border: 0;
    width: 100%;
    border-top: 2px solid #f4038c;
    margin: 5px auto;
}

.copy {
    margin-bottom: 32px;
}

#hero {
    padding: 12px 0;
    text-align: center;
}

/** Overlay-text**/

.image-container {
    position: relative;
    width: 100%;
}

.image-container picture,
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 35px;
    font-weight: 800;
    text-shadow: 1px 1px 5px #333f79;
    letter-spacing: 1px;
}

#change {
    position: absolute;
    bottom: 150px;
    left: 20px;
    font-weight: 800;
    color: white !important;
    text-shadow: 1px 1px 4px #f56550;
    letter-spacing: 1px;
}

#health {
    text-align: right;
}

#cassette-hero {
    color: white !important;
}

/** Table**/

.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 35px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    /* on smaller screens */
}

th {
    font-weight: 700;
}

th,
td {
    border: 1px solid #333f79;
    text-align: center;
    padding: 12px;
}

thead {
    background-color: #a8b1db;
}

.middle {
    background-color: #fce9e5;
}

/** Gif and masks**/
.gif-container {
    position: relative;
    width: 200px;
    overflow: hidden;

}

.gif {
    display: block;
    width: 100%;
    height: auto;
    clip-path: polygon(0.98% 2.19%, 0.98% 2.65%, 0.74% 2.65%, 0.74% 15.88%, 0.98% 15.88%, 0.98% 16.11%, 0.74% 16.11%, 0.74% 59.61%, 0.98% 59.61%, 0.98% 59.84%, 0.74% 59.84%, 0.74% 72.15%, 0.98% 72.15%, 0.98% 72.38%, 0.74% 72.38%, 0.74% 96.32%, 0.98% 96.32%, 0.98% 96.66%, 1.23% 96.66%, 1.23% 96.89%, 1.47% 96.89%, 1.72% 97.35%, 1.96% 97.35%, 1.96% 97.58%, 2.21% 97.58%, 2.21% 97.70%, 2.45% 97.70%, 2.45% 97.81%, 2.70% 97.81%, 2.70% 97.93%, 2.94% 97.93%, 2.94% 98.04%, 3.19% 98.04%,
            3.19% 98.16%, 3.68% 98.27%, 3.68% 98.39%, 4.17% 98.39%, 4.17% 98.50%, 4.66% 98.50%, 4.66% 98.62%, 5.15% 98.62%, 5.15% 98.73%, 5.64% 98.73%, 5.64% 98.85%, 6.62% 98.85%, 6.62% 98.96%, 13.97% 98.96%, 13.97% 98.85%, 14.46% 98.85%, 14.46% 98.96%, 55.15% 98.96%, 55.15% 98.85%, 55.64% 98.85%, 55.64% 98.96%, 92.40% 98.96%, 92.40% 98.85%, 93.38% 98.85%, 93.38% 98.73%, 93.87% 98.73%, 93.87% 98.62%, 94.85% 98.50%, 95.10% 98.27%, 95.59% 98.27%, 95.59% 98.16%, 95.83% 98.16%,
            95.83% 98.04%, 96.08% 98.04%, 96.08% 97.93%, 96.32% 97.93%, 96.32% 97.81%, 96.57% 97.81%, 96.57% 97.70%, 97.06% 97.58%, 97.06% 97.35%, 97.30% 97.35%, 97.30% 97.12%, 97.55% 97.12%, 97.55% 96.89%, 97.79% 96.89%, 97.79% 96.66%, 98.04% 96.66%, 98.04% 96.20%, 98.28% 96.20%, 98.28% 67.78%, 98.04% 67.78%, 98.04% 67.55%, 98.28% 67.55%, 98.28% 43.61%, 98.04% 43.61%, 98.04% 43.38%, 98.28% 43.38%, 98.28% 2.65%, 98.04% 2.65%, 98.04% 2.19%, 97.79% 2.19%, 97.55% 1.73%, 97.30% 1.73%, 97.06% 1.27%, 96.81% 1.27%, 96.81% 1.15%, 96.57% 1.15%, 96.57% 1.04%, 96.32% 1.04%, 96.32% 0.92%, 96.08% 0.92%, 96.08% 0.81%, 95.83% 0.81%, 95.83% 0.69%, 95.34% 0.58%, 95.34% 0.46%, 94.85% 0.46%, 94.85% 0.35%, 93.87% 0.23%, 93.87% 0.00%, 91.42% 0.00%, 91.42% 0.12%, 91.67% 0.12%, 91.67% 0.58%, 86.27% 0.58%, 86.27% 0.69%, 85.78% 0.69%, 85.78% 0.58%, 84.07% 0.58%, 84.07% 0.69%, 83.58% 0.69%, 83.58% 0.58%, 77.70% 0.58%, 77.70% 0.69%, 76.96% 0.69%, 76.96% 0.58%, 40.20% 0.58%, 40.20% 0.69%, 39.71% 0.69%, 39.71% 0.58%, 33.82% 0.58%, 33.82% 0.69%, 33.09% 0.69%, 33.09% 0.58%, 14.95% 0.58%, 14.95% 0.69%, 14.46% 0.69%, 14.46% 0.58%, 7.35% 0.58%, 7.35% 0.00%, 5.15% 0.00%, 5.15% 0.23%, 4.66% 0.23%, 4.66% 0.35%, 3.68% 0.46%, 3.68% 0.58%, 3.43% 0.58%, 3.43% 0.69%, 3.19% 0.69%, 3.19% 0.81%, 2.94% 0.81%, 2.94% 0.92%, 2.70% 0.92%, 2.70% 1.04%, 2.45% 1.04%, 2.21% 1.27%, 1.96% 1.27%, 1.96% 1.50%, 1.72% 1.50%, 1.72% 1.73%, 1.47% 1.73%, 1.23% 2.19%, 0.98% 2.19%)
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100.6%;
    pointer-events: none;

}

.gif-container-animation {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gif-image {
    position: absolute;
    top: 60%;
    left: 43%;
    width: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.overlay-animation {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.column-left-always {
    width: 48%;
    margin-right: 2%;
    margin-left: 0;
    float: left;
}

.column-right-always {
    width: 48%;
    margin-left: 2%;
    margin-right: 0;
    float: right;
}

.column-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.size {
    max-width: 130px;
}

.highlight-right {
    background: WHITE;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 20%, rgba(252, 67, 134, 1) 100%);
    padding: 35px 0;
}

/** Specifics for vitala and cassette pages**/

#vitala,
#cassette {
    background-color: white;
}

footer h2,
footer p {
    color: #560591;
}

.recipe h1,
.recipe h2,
.recipe h4 {
    color: #f56550;
}

.recipe h3,
.recipe h5,
.recipe h6,
.recipe p,
.recipe li,
.recipe th,
.recipe td {
    color: #333f79;
}

.music {
    color: #560591;
}

/** Links, buttons, pseudos **/

a:link,
a:visited,
.page:link,
.page:visited {
    color: white;
}

.page.active {
    color: white;
    background-color: #fb76cf;
    border-radius: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.page:hover {
    color: white;
    background-color: blueviolet;
    border-radius: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.social {
    display: inline-block;
}

.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 8px;
}

.icon-circle.linkedin {
    background-color: transparent;
}

.icon-circle.behance {
    background-color: transparent;
}

.linkedin:hover,
.behance:hover {
    background-color: #fb76cf;

}

.linkedin:active,
.behance:active {
    background-color: transparent;
}

.button {
    display: inline-block;
    background-color: #f4038c;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 16px;
    box-shadow: 2px 5px blueviolet;
    margin-top: 8px;
    transition-duration: 0.5s opacity;
}

.button:hover {
    background-color: #f61bd2;
    opacity: 0.8;
}

.button:active {
    color: white;
    background-color: #f4038c;
    box-shadow: 1px 1px #f4038c;
    opacity: 0.8;
}

.button.contact {
    color: #f4038c;
    display: inline-block;
    background-color: #f8e8ff;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 16px;
    box-shadow: 2px 5px #f4038c;
    transition-duration: 0.5s opacity;
}

.button.contact:hover {
    color: white;
    background: rgba(246, 27, 210, .6);
    opacity: 0.8;
}

.button.contact:active {
    color: #f4038c;
    background-color: #f8e8ff;
    box-shadow: 1px 1px #f8e8ff;
    opacity: 0.8;
}

.phone:link {
    color: #f4038c;
    text-decoration: none;
}

.phone:hover {
    text-decoration: underline;
    color: #f61bd2;
}

.phone:active {
    color: #f4038c;
    text-decoration: none;
}

.jump:link,
.jump:visited {
    color: #333f79;
    text-decoration: none;
}

.jump:hover {
    color: #f56550;
    text-decoration: underline;
}

.jump:active {
    color: #f56550;
    text-decoration: none;
}

.jump.music:link {
    color: #560591;
    text-decoration: none;
}

.jump.music:hover {
    color: #f61bd2;
    text-decoration: underline;
}

.jump.music:active {
    color: #f61bd2;
    text-decoration: none;
}

.no_bullet {
    list-style: none;
}


/** Animation **/


#svg-logo path {
    fill: none;
    stroke: white;
    stroke-width: 2px;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
    stroke-linejoin: round;
    stroke-linecap: round;
    animation: draw-stroke 14s linear forwards;
}

@keyframes draw-stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

/** Media queries **/

@media only screen and (min-width: 640px) {
    #svg-logo {
        max-width: 250px;
    }

    nav>ul>li {
        display: inline-block;
    }

    nav>ul {
        margin: 1em 0;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    .container {
        max-width: 870px;
        margin-left: auto;
        margin-right: auto;
    }

    h4 {
        padding-top: 2em;
    }

    header {
        text-align: unset;
    }

    nav {
        width: auto;
        float: right;
    }

    body {
        font-size: 18px;
    }

    .col-md-6-left {
        width: 48%;
        margin-right: 8px;
        float: left;
    }

    .col-md-6-right {
        width: 48%;
        margin-left: 8px;
        float: right;
    }

    .column-left {
        width: 48%;
        margin-right: 8px;
        float: left;
    }

    .column-right {
        width: 48%;
        margin-left: 8px;
        float: right;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .size {
        max-width: 170px;
    }

    h1 {
        font-size: 2.9em;
    }

    h2 {
        font-size: 1.9em;
    }

    h3 {
        font-size: 1.7em;
    }

    h4 {
        font-size: 1.4em;
    }

    h5 {
        font-size: 1.2em;
    }

    .features-p {

        font-size: 1.1em;
    }

    .padding-title {
        padding-top: 0px;
    }
}

@media only screen and (min-width: 1024px) {

    h4 {
        padding-top: 3em;
    }

    .col-lg-7 {
        width: 52%;
        float: left;
    }

    .col-lg-5 {
        width: 38%;
        float: right;
    }

    .col-md-6-left,
    .col-md-6-right {
        float: none !important;
        width: auto !important;
        margin: 0 !important;
    }

    .size {
        max-width: 250px;
    }

    .col-1 {
        float: left;
        width: 32%;
    }

    .col-2 {
        float: left;
        width: 32%;
    }

    .col-3 {
        float: right;
        width: 34%;
    }

    .center-only-small {
        text-align: left;
    }

    .separator {
        display: none;
    }

    h1 {
        font-size: 3.4em;
    }

    h2 {
        font-size: 2.1em;
    }
}

@media only screen and (min-width: 1440px) {

    h1 {
        font-size: 3.8em;
    }

    h4 {
        padding-top: 4em;
    }
}