/*
Colors used:
Background color (white): #000000;

Primary Color (yellow): #e5bd01;
Primary Color's first variant: #e7cb00;
Primary Color's second variant: #f3e13e;

Secondary Color (magenta): #f4038c;
Secondary Color's first variant: #f61bd2;
Secondary Color's second variant: #fb76cf;

Tertiary Color (blue): 01e5f5;
*/

body  {
    background-color: #f3e13e;
    font-family:'Roboto Slab',sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:1.6;
    color:#560591;
}

h1, h2, h3, h4, h5, li {
    line-height:1.3;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight:900;
    color: #f4038c;
}
h2 {
    font-size: 2em;
    font-weight:900;
}

h3 {font-family: 'Montserrat', sans-serif;
    font-size: 1.75em;
    font-weight:800;
    letter-spacing:1px;
    color: #f4038c;
}

h4 {
    font-size: 1.5em;
    font-weight:700;
}

h5, li {
    font-size: 1.2em;
    font-weight:400;
}

.description {
    font-weight:600;
}

.cover-text {
    letter-spacing:2px;
}

#vitala {
    background-color: white;
}

img {width: 100%;}

a {color:royalblue;}

a:visited { color: purple;}

a:hover, a:focus {
    color: #f61bd2;
    text-decoration:none;
}
a:active { color: limegreen;}

a.button {
    display: inline-block;
    background-color: #f4038c;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 16px;
    box-shadow: 2px 5px blueviolet;
}

a.button:hover,a.button:focus {
    color: whitesmoke;
    background-color:#f61bd2;
      }

a.button:active {
    color: whitesmoke;
    background-color:#fb76cf;
    box-shadow: 2px 5px #fb76cf;
      }

a.contact:hover,a.contact:focus {  
    color: whitesmoke;
    background: rgba(246, 27, 210, .5);
    box-shadow: 2px 5px #f4038c;
}

a.button.contact:active {
    color: white;
    background-color:#f4038c;
    box-shadow: 2px 5px #f4038c;
      }